.full-width-line-top {
    border-top: 1px solid #c4c4c4;
    width: auto;
    margin-bottom: 30px; 
    /* background-color: rgb(149, 255, 149); */
  }

.hobby-list-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content:center; 
  gap: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* background-color: grey; */
}

.section-title-category {
  font-size: 48px; 
  text-align: left;
  margin-left: 10%;
  /* background-color: rgb(255, 212, 212); */
}

.icon-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-icon-size {
  font-size: 36px; /* Adjust the size according to your preference */
}

.myButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  color: rgb(78, 78, 78);
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 10px 4px 1px;
  cursor: pointer;
  gap: 15px;
  
}

.myButton:hover {
  text-decoration: underline; 
  font-weight: dark bold;
}


.viewButton {
  background-color: rgb(122, 34, 29);
  color: rgb(255, 255, 255);
}


.viewButton:hover {
  font-weight: bold;
}


.title {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 7%
}


.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust this value as needed */
  background-color: white;
  border: 1px black;
}





